<<<<<<< HEAD
﻿header {
    background-color: #b6ff00;
    padding: 10px;
}
body {
=======
﻿body {
>>>>>>> refs/remotes/origin/workspace
    background-color: #feea7b;
    width: auto;
    height: auto;
}

table{
    background-color: white;
    padding: 200px;
    empty-cells: show;

}

<<<<<<< HEAD
footer {
    background-color: #b6ff00;
    padding: 10px;
    text-align: right;
}
=======

>>>>>>> refs/remotes/origin/workspace
