@model StockTradingSystemForCSharp.Models.User
@{
    ViewBag.Title = "Login";
}

<!--＠Html.ValidationSummary()-->


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../Css/LoginStyleSheet.css">
</head>
<body>

    <header>
        <h1 align ="center">
            <img src="../image/kids_chuunibyou_boy.png" width="148" height="160" />
            ログイン画面
            <img src="../image/kids_chuunibyou_girl.png" width="152" height="188"/>
        </h1>
    </header>
    <!--フォーム作成-->
    @using (@Html.BeginForm())
    {
        <table align="center">
            <tr>
                <th align = "left">ユーザID</th>
                <!-- テキストボックス作成 -->
                <td>@Html.TextBoxFor(model => model.UserID, new { size = 40 })</td>
            </tr>
            <tr>
                <th align = "left">パスワード</th>
                <td>@Html.PasswordFor(model => model.Password, new { size = 40 })</td>
            </tr>
            <tr>
                <td colspan="2">　</td>
            </tr>
            <tr>
                <th></th>
                <td colspan="2" align = "right">
                    <input type="submit" value="ログイン" />
                </td>
        </table>
    }

    <footer>
        <h6>copyright HSE32-Crafters</h6>
    </footer>
</body>
</html>
